<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Configuration | Release">

	<div>
    <#if releases?size != 0>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="centerDiv">Name</th>
                <th class="centerDiv">URL</th>
                <th class="centerDiv" colspan=2>Action</th>
            </tr>
        </thead>
        <tbody>
            <#list releases as release>
                <tr>
                    <td>${release.name}</td>
                    <td><a href="${release.url}" target="_blank">${release.url}</a> <i class="fa fa-external-link" aria-hidden="true"></i></td>
                    <td>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal" onClick="passDataUpdate('${release.name}','${release.url}')">Update</button>
						<!-- update -->
					    <div class="modal fade bs-example-modal-lg" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">Update Release</h4>
						      </div>
						      <div class="modal-body">
						        	<form id="update" action="/release/update" method="post" class="form-horizontal" role="form">
						        		<div class="md-padding" ng-cloak>
								            <div class="form-group">
											    <label for="name">Name</label>
											    <input class="form-control" id="uname" name="name">
											</div>
								
								            <div class="form-group">
											    <label for="url">URL</label>
											    <input class="form-control" id="uurl" name="url">
											</div>
								        </div>
								    </form>
								    <script>
										function passDataUpdate(name, url) {
											document.getElementById("uname").value = name;
			    							document.getElementById("uurl").value = url;
										}
									</script>
						      </div>
						      <div class="modal-footer">
						      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button type="submit" class="btn btn-info" form="update">Update</button>
						      </div>
						    </div>
						  </div>
						</div>
                    </td>
                    <td>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onClick="passDataDelete('${release.name}','${release.url}')">Delete</button>
						<!-- delete -->
					    <div class="modal fade bs-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">Delete Release</h4>
						      </div>
						      <div class="modal-body">
						      		<h4>Are you sure to delete this release?</h4>
						        	<form id="delete" action="/release/delete" method="post" class="form-horizontal" role="form">
								        <div class="md-padding" ng-cloak>
								            <div class="md-padding" ng-cloak>
								            <div class="form-group">
											    <label for="name">Name</label>
											    <input class="form-control" id="dname" name="name">
											</div>
								
								            <div class="form-group">
											    <label for="url">URL</label>
											    <input class="form-control" id="durl" name="url">
											</div>
								        </div>
								        </div>
								    </form>
								    <script>
										function passDataDelete(name, url) {
											document.getElementById("dname").value = name;
			    							document.getElementById("durl").value = url;
										}
									</script>
						      </div>
						      <div class="modal-footer">
						      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button type="submit" class="btn btn-danger" form="delete">Delete</button>
						      </div>
						    </div>
						  </div>
						</div>
                    </td>
                </tr>
            </#list>
        </tbody>
    </table>
    </#if>
    </div>

    <form action="/release" method="post" class="form-horizontal" role="form">
        <div class="md-padding" ng-cloak>
            <md-input-container>
                <label>Name</label>
                <input required ng-model="name" name="name">
            </md-input-container>

            <md-input-container>
                <label>URL</label>
                <input type="url" required ng-model="url" name="url">
            </md-input-container>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</@layout.myLayout>