<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
  <head>
	  	<title>${title}</title>
	  	<meta charset="UTF-8">
	  	<meta name="description" content="Customer Interview">
		<meta name="author" content="Le Cong Hau lchau@tma.com.vn, Nguyen Hoang Long nhlong@tma.com.vn">
		<meta name="viewport" content="width=device-width" id="viewport" />
		<meta name="geo.country" content="VietNam" />
		<meta name="geo.region" content="VN-SG" />
		<meta name="geo.placename" content="Cty Tường Minh, 1A Tân Chánh Hiệp, District 12, Ho Chi Minh City, Việt Nam" />
		<meta name="geo.position" content="10.856293, 106.631541" />
		<meta name="ICBM" content="10.856293, 106.631541" />
		<meta name="google-site-verification" content="rjswdMgzt7Ra_hPyU9GvDeOGk4ZcHukxgVr8lucmQAo" />
		
		<meta name="DC.Language" content="en" />
		<meta http-equiv="content-language" content="en" />
		<meta name="distribution" content="global" />
		<meta name="robots" content="index,follow,archive" />
		<meta name="baidu-site-verification" content="UD7YulqQ17" />
		<meta name="naver-site-verification" content="f4bf10b7af5c8944e5c85f444c075b5db5ed4973" />
		<meta name="description" content="TMA is the leading Vietnam software outsourcing company with 1,800+ engineers and 18+ years of experience in providing quality software and IT outsourcing services for clients in 25 countries">
		<meta name="msvalidate.01" content="4E9F0D7A0F6AC1E6CBA8B7C57875B8F5" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="http://www.tmasolutions.com/favicon.ico" type="image/vnd.microsoft.icon" />
		<link rel="icon" href="http://www.tmasolutions.com/favicon.ico" type="image/x-icon" />

      <link rel="stylesheet" href="/assets/lobipanel/lib/jquery-ui.min.css" />
      <link rel="stylesheet" href="/assets/lobipanel/lib/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="/assets/lobipanel/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/assets/lobipanel/bootstrap/dist/css/bootstrap-theme.min.css" />
      <link rel="stylesheet" href="/assets/lobipanel/lib/highlight/github.css" />
      <link rel="stylesheet" href="/assets/lobipanel/demo/documentation.css" />
      <link rel="stylesheet" href="/assets/lobipanel/dist/css/lobipanel.min.css" />
      <link rel="stylesheet" href="/assets/lobipanel/demo/demo.css" />
      <link rel="stylesheet" href="/assets/lobipanel/css/angular-material.min.css">
      <!--<link rel="stylesheet" href="/assets/lobipanel/css/bootstrap-select.min.css" />-->
      <link rel="stylesheet" href="/assets/lobipanel/css/style.css" />

      <!-- Latest compiled and minified JavaScript -->

      <style type="text/css">
          body {
              padding-top: 60px;
              padding-bottom: 40px;
          }
      </style>

      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>


  <body ng-app="myApp" ng-controller="myCtrl">

    <div class="container" style="width: initial;">
        
        <#include "header.ftl.html"/>

        <#if (flash.error)??>
            <div class="alert alert-danger">
            	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
            	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                ${flash.success}
            </div>
        </#if>

		<br><br>

        <#nested/>

		<br><br><br>	

        <#include "footer.ftl.html"/>
        
    </div> <!-- /container -->

    <script src="/assets/lobipanel/lib/jquery.1.11.min.js"></script>
    <script src="/assets/lobipanel/lib/jquery-ui.min.js"></script>
    <script src="/assets/lobipanel/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/lobipanel/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/lobipanel/lib/highlight/highlight.pack.js"></script>
    <script src="/assets/lobipanel/dist/js/lobipanel.js"></script>
    <script src="/assets/lobipanel/js/angular.min.js"></script>
    <script src="/assets/lobipanel/js/angular-animate.min.js"></script>
    <script src="/assets/lobipanel/js/angular-aria.min.js"></script>
    <script src="/assets/lobipanel/js/angular-messages.min.js"></script>
    <script src="/assets/lobipanel/js/angular-material.min.js"></script>
    <!--<script src="/assets/lobipanel/js/bootstrap-select.min.js"></script>-->
    <script src="/assets/lobipanel/js/app.js"></script>
    
    <script>
    	window.setTimeout(function() {
	    	$(".alert").fadeTo(500, 0).slideUp(500, function(){
	        	$(this).remove(); 
	    	});
		}, 3000);
    </script>
    <script>
    	function setCookie(cname, cvalue) {
		    document.cookie = cname + "=" + cvalue + ";path=" + window.location.pathname;
		}
		
		function getCookie(cname) {
		    var name = cname + "=";
		    var ca = document.cookie.split(';');
		    for(var i = 0; i < ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0) == ' ') {
		            c = c.substring(1);
		        }
		        if (c.indexOf(name) == 0) {
		            return c.substring(name.length, c.length);
		        }
		    }
		    return "";
		}
		
		function deleteCookie(cname) {
			document.cookie = cname + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		}
    </script>
    <script>
        $(function() {
        	<!-- home page -->
            $('.mypanel').lobiPanel({
                reload: false,
                close: false,
                editTitle: false
            });
            <!-- show dashboard -->
            $('.mypanel1').lobiPanel({
                reload: false,
                close: false,
                editTitle: false,
                unpin: false,
                expand: false,
                minimize: false
            });
            <!-- two panels -->
            $('#lobipanel-multiple').find('.panel').lobiPanel({
                reload: false,
                // close: false,
                editTitle: false,
                sortable: true
            });
            
            // new dashboard
            if (getCookie("sonar-div") != "") {
            	document.getElementById("sonar-div").className = getCookie("sonar-div");
            }

            if (getCookie("review-div") != "") {
            	document.getElementById("review-div").className = getCookie("review-div");
            }

            if (getCookie("sonar") == "open") {
            	document.getElementById("sonar-btn").disabled = true;
            }

            if (getCookie("review") == "open") {
            	document.getElementById("review-btn").disabled = true;
            }

            // if panels are closed
            if (getCookie("sonar") == "close" || getCookie("sonar") == "") {
            	$('.panel-info').lobiPanel('close');
            	document.getElementById("sonar-btn").disabled = false;
            }

            if (getCookie("review") == "close" || getCookie("review") == "") {
            	$('.panel-danger').lobiPanel('close');
            	document.getElementById("review-btn").disabled = false;
            }

            // close panels
            $('.panel-info').on('beforeClose.lobiPanel', function() {
            	setCookie("sonar", "close");
            	window.location.reload();
            });

            $('.panel-danger').on('beforeClose.lobiPanel', function() {
            	setCookie("review", "close");
            	window.location.reload();
            });
        });
        
        $(document).ready(function() {
			$("#sonar-config").hide();
			$("#sonar-config-toggle").click(function() {
				$("#sonar-config").toggle();
				var $this = $(this);
				$this.toggleClass("sonar-config-toggle");
				if ($this.hasClass("sonar-config-toggle")) {
					$this.text("Hide Configuration");
				} else {
					$this.text("Show Configuration");
				}
			});
	
			$("#odreview-config").hide();
			$("#odreview-config-toggle").click(function() {
				$("#odreview-config").toggle();
				var $this = $(this);
				$this.toggleClass("odreview-config-toggle");
				if ($this.hasClass("odreview-config-toggle")) {
					$this.text("Hide Configuration");
				} else {
					$this.text("Show Configuration");
				}
			});
		});
    </script>
    <script>
		function sonarClick() {
			console.log("add sonar gadget");
			setCookie("sonar", "open");
			window.location.reload();
		};

		function reviewClick() {
			console.log("add review gadget");
			setCookie("review", "open");
			window.location.reload();
		};

		function layouta() {
			setCookie("sonar-div", "col-md-12");
			setCookie("review-div", "col-md-12");
			window.location.reload();
		};

		function layoutaa() {
			setCookie("sonar-div", "col-md-6");
			setCookie("review-div", "col-md-6");
			window.location.reload();
		};

		function layoutba() {
			setCookie("sonar-div", "col-md-4");
			setCookie("review-div", "col-md-8");
			window.location.reload();
		};

		function layoutab() {
			setCookie("sonar-div", "col-md-8");
			setCookie("review-div", "col-md-4");
			window.location.reload();
		};

		function layoutaaa() {
			setCookie("sonar-div", "col-md-4");
			setCookie("review-div", "col-md-4");
			window.location.reload();
		};
	</script>
	<script>
		$("input[name='release']").change(function() {
			$.get('/release/ialist/' + $(this).val(), function(data) {
				$('#ia_list').find('option').remove().end();
				var ias = data.slice(1, -1).split(',');
				for (var i = 0; i < ias.length; i++) {
				 	$('<option value="'+ias[i]+'">'+ias[i]+'</option>').appendTo('#ia_list');
				}
			});
		});
	</script>
	<script>
		$('ul.nav li.dropdown').hover(function() {
		  $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(500);
		}, function() {
		  $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(500);
		});
	</script>
</body>
</html>
</#macro>
