<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
<head>
<title>${title}</title>
<meta charset="UTF-8">
<meta name="description" content="Customer Interview">
<meta name="author"
	content="Le Cong Hau lchau@tma.com.vn, Nguyen Hoang Long nhlong@tma.com.vn">
<meta name="viewport" content="width=device-width" id="viewport" />
<meta name="geo.country" content="VietNam" />
<meta name="geo.region" content="VN-SG" />
<meta name="geo.placename"
	content="Cty Tường Minh, 1A Tân Chánh Hiệp, District 12, Ho Chi Minh City, Việt Nam" />
<meta name="geo.position" content="10.856293, 106.631541" />
<meta name="ICBM" content="10.856293, 106.631541" />
<meta name="google-site-verification"
	content="rjswdMgzt7Ra_hPyU9GvDeOGk4ZcHukxgVr8lucmQAo" />

<meta name="DC.Language" content="en" />
<meta http-equiv="content-language" content="en" />
<meta name="distribution" content="global" />
<meta name="robots" content="index,follow,archive" />
<meta name="baidu-site-verification" content="UD7YulqQ17" />
<meta name="naver-site-verification"
	content="f4bf10b7af5c8944e5c85f444c075b5db5ed4973" />
<meta name="description"
	content="TMA is the leading Vietnam software outsourcing company with 1,800+ engineers and 18+ years of experience in providing quality software and IT outsourcing services for clients in 25 countries">
<meta name="msvalidate.01" content="4E9F0D7A0F6AC1E6CBA8B7C57875B8F5" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://www.tmasolutions.com/favicon.ico"
	type="image/vnd.microsoft.icon" />
<link rel="stylesheet"
	href="/assets/lib/css/jquery.dataTables.min.css" />
<link rel="icon" href="http://www.tmasolutions.com/favicon.ico"
	type="image/x-icon" />

<link rel="stylesheet" href="/assets/lobipanel/lib/jquery-ui.min.css" />
<link rel="stylesheet"
	href="/assets/lobipanel/lib/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="/assets/lobipanel/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/assets/lobipanel/bootstrap/dist/css/bootstrap-theme.min.css" />

<link rel="stylesheet" href="/assets/lobipanel/lib/highlight/github.css" />
<link rel="stylesheet" href="/assets/lobipanel/demo/documentation.css" />
<link rel="stylesheet"
	href="/assets/lobipanel/dist/css/lobipanel.min.css" />
<link rel="stylesheet" href="/assets/lobipanel/demo/demo.css" />
<link rel="stylesheet"
	href="/assets/lobipanel/css/angular-material.min.css">
<!--<link rel="stylesheet" href="/assets/lobipanel/css/bootstrap-select.min.css" />-->
<link rel="stylesheet" href="/assets/lobipanel/css/style.css" />
<link rel="stylesheet" href="/assets/lobipanel/css/product.css" />
<!-- Latest compiled and minified JavaScript -->

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.loader {
	z-index: 1;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 10px;
	height: 10px;
	animation: spin 2s linear infinite;
}

.warning {
	position: fixed;
	z-index: 999;
	display: none;
}

@keyframes spin { 
	0% {
	transform: rotate(0deg);
	}
	100%{
	transform: rotate(360deg);
 	}
}
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>


<body ng-app="myApp" ng-controller="myCtrl">

	<div class="container" style="width: initial;">

		<#include "header.ftl.html"/> <#if (flash.error)??>
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			${flash.error}
		</div>
		</#if> <#if (flash.success)??>
		<div class="alert alert-success">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			${flash.success}
		</div>
	</div>
	</#if>
	
	<br> <br> <#nested/> <br> <br> <br>
		<#include "footer.ftl.html"/>

	</div>
	<!-- /container -->
	
	<script src="/assets/lobipanel/lib/jquery.1.11.min.js"></script>
	<script src="/assets/lobipanel/lib/jquery-ui.min.js"></script>
	<script src="/assets/lobipanel/lib/jquery.ui.touch-punch.min.js"></script>
	<script src="/assets/lib/javascript/jquery.dataTables.min.js"></script>
	<script src="/assets/lobipanel/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/assets/lib/javascript/bootstrap-checkbox.min.js"></script>
	<script src="/assets/lobipanel/lib/highlight/highlight.pack.js"></script>
	<script src="/assets/lobipanel/dist/js/lobipanel.js"></script>
	<script src="/assets/lobipanel/js/angular.min.js"></script>
	<script src="/assets/lobipanel/js/angular-animate.min.js"></script>
	<script src="/assets/lobipanel/js/angular-aria.min.js"></script>
	<script src="/assets/lobipanel/js/angular-messages.min.js"></script>
	<script src="/assets/lobipanel/js/angular-material.min.js"></script>
	<!--<script src="/assets/lobipanel/js/bootstrap-select.min.js"></script>-->
	<script src="/assets/lobipanel/js/app.js"></script>
	<script src="/assets/javascriptclass/AbstractGadgetController.js"></script>
	<script src="/assets/javascriptclass/AssigneeControllerClass.js"></script>
	<script src="/assets/javascriptclass/EpicControllerClass.js"></script>
	<script src="/assets/javascriptclass/CycleControllerClass.js"></script>
	<script src="/assets/javascriptclass/UserStoryControllerClass.js"></script>
	<script src="/assets/lobipanel/js/widget-script.js"></script>
	<script src="/assets/lobipanel/js/epic-controller.js"></script>
	<script src="/assets/lobipanel/js/story-controller.js"></script>
	<script src="/assets/lobipanel/js/assignee-controller.js"></script>
	<script src="/assets/lobipanel/js/cycle-controller.js"></script>
	
	<#if !isProductPage??>
	 	<script src="/assets/lobipanel/js/existing-script.js"></script>
	 <#else>
	 	<script src="/assets/lobipanel/js/product.js"></script>
	</#if>
	
	
</body>
</html>
</#macro>
