<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Dashboard Management</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="navbar-right nav navbar-nav">
			<#if (session.username)??>
				<li><img src="http://tiger.in.alcatel-lucent.com:8091/secure/useravatar?size=small&ownerId=${session.username}" alt="avatar" style="padding-top: 10px;"></li>
                <li><a href="http://tiger.in.alcatel-lucent.com:8060/user/${session.username}"><#if (session.alias)??>${session.alias}<#else>${session.username}</#if></a></li>
				<li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
		          	<ul class="dropdown-menu my-dropdown-menu">
		            	<li><a style="color: #9d9d9d;" href="/dashboard">My Dashboard</a></li>
		            	<li><a style="color: #9d9d9d;" href="/dashboard/new">New Dashboard</a></li>
		            	<li><a style="color: #9d9d9d;" href="/dashboard/find">Find Dashboard</a></li>
		          	</ul>
		        </li>
		        <#if (session.role)??>
		        <li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
		          	<ul class="dropdown-menu dropdown-menu-left my-dropdown-menu">
		            	<li><a style="color: #9d9d9d;" href="/release">Release</a></li>
		            	<li><a style="color: #9d9d9d;" href="/metric">Metric</a></li>
		          	</ul>
		        </li>
		        </#if>
				<li><a href="/logout">Logout</a></li>
            <#else>
                
                <li><a href="/login" id="login">Login</a></li>
            </#if>
				
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>