<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "My Dashboard">

<#if id gt dashboards?chunk(10)?size>
	<div class="centerDiv">
		<h3>Page ${id} is not exist!</h3>
		Back to page 
	  	<ul class="pagination pagination-sm" style="margin-bottom: auto;zoom: 80%;">
	  		<#list dashboards?chunk(10) as dashboard>
	    		<li <#if dashboard?counter == id>class="active"</#if>><a href="/dashboard/page=${dashboard?counter}">${dashboard?counter}</a></li>
	    	</#list>
	  	</ul>
	</div>
<#else>
	<div style="text-align: right">
		<em>Displaying dashboards ${10*(id-1)+1} - <#if 10*id lt dashboards?size>${10*id}<#else>${dashboards?size}</#if> of ${dashboards?size}</em>
	  	<ul class="pagination pagination-sm" style="margin-bottom: auto;zoom: 80%;">
	  		<#list dashboards?chunk(10) as dashboard>
	    		<li <#if dashboard?counter == id>class="active"</#if>><a href="/dashboard/page=${dashboard?counter}">${dashboard?counter}</a></li>
	    	</#list>
	  	</ul>
	</div>
	<#list dashboards as dashboard>
		 <#if 10*(id-1) lte dashboard?index && dashboard?index lt 10*id>
			 <#if dashboard.share == "public">
				 <div id="lobipanel-custom-control" class="panel panel-success lobipanel-sortable mypanel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4><a href="/dashboard/${dashboard.id}" style="color:black">${dashboard.name}</a></h4>
						</div>
					</div>
					<div class="panel-body">
						<#if dashboard.s_ia??>
							<p>Sonar IA: ${dashboard.s_ia}</p>
						</#if>
						<#if dashboard.metric != "">
							<p>Sonar Metrics: ${dashboard.metric}</p>
						</#if>
						<#if dashboard.r_ia?has_content>
						<p>Overdue Review IA: ${dashboard.r_ia}</p>
						</#if>
						<#if dashboard.project?has_content>
						<p>Overdue Review Project: ${dashboard.project}</p>
						</#if>
					</div>
				</div>
			<#else>
				 <div id="lobipanel-custom-control" class="panel panel-warning lobipanel-sortable mypanel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4><a href="/dashboard/${dashboard.id}" style="color:black">${dashboard.name}</a></h4>
						</div>
					</div>
					<div class="panel-body">
						<#if dashboard.s_ia??>
							<p>Sonar IA: ${dashboard.s_ia}</p>
						</#if>
						<#if dashboard.metric != "">
							<p>Sonar Metrics: ${dashboard.metric}</p>
						</#if>
						<#if dashboard.r_ia?has_content>
						<p>Overdue Review IA: ${dashboard.r_ia}</p>
						</#if>
						<#if dashboard.project?has_content>
						<p>Overdue Review Project: ${dashboard.project}</p>
						</#if>
					</div>
				</div>
			</#if>
		</#if>
	</#list>
	<div style="text-align: right">
			<em>Displaying dashboards ${10*(id-1)+1} - <#if 10*id lt dashboards?size>${10*id}<#else>${dashboards?size}</#if> of ${dashboards?size}</em>
	  	<ul class="pagination pagination-sm" style="margin-bottom: auto;zoom: 80%;">
	  		<#list dashboards?chunk(10) as dashboard>
	    		<li <#if dashboard?counter == id>class="active"</#if>><a href="/dashboard/page=${dashboard?counter}">${dashboard?counter}</a></li>
	    	</#list>
	  	</ul>
	</div>
</#if>

</@layout.myLayout>