<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Dashboard | Find">

<h1>Find Dashboard</h1>

<form action="/dashboard/find" method="post" class="form-horizontal"
	role="form">

	<div class="md-padding" ng-cloak>
		<md-input-container> 
			<label>Dashboard Name</label> 
			<input required value="${name}" name="name"> 
		</md-input-container>
	</div>
	<button type="submit" class="btn btn-success">Find</button>
</form>

<div class="centerDiv">
	<h2>Results</h2>
	<small>We found <b>${dashboards? size}</b> dashboards contain keyword <b>${name}</b>.</small>
</div>

<#list dashboards as dashboard>
<div id="lobipanel-custom-control" class="panel panel-primary lobipanel-sortable mypanel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><a href="/dashboard/${dashboard.id}" style="color:white">${dashboard.name}</a></h4>
		</div>
	</div>
	<div class="panel-body">
		<p>Author: ${dashboard.owner}</p>
		<#if dashboard.s_ia??>
			<p>Sonar IA: ${dashboard.s_ia}</p>
		</#if>
		<#if dashboard.metric?? && dashboard.metric != "">
			<p>Sonar Metrics: ${dashboard.metric}</p>
		</#if>
		<#if dashboard.r_ia?has_content>
		<p>Overdue Review IA: ${dashboard.r_ia}</p>
		</#if>
		<#if dashboard.project?has_content>
		<p>Overdue Review Project: ${dashboard.project}</p>
		</#if>
	</div>
</div>
</#list>

</@layout.myLayout>