<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Dashboard | New">

    <form action="/dashboard/new" method="post" class="form-horizontal" role="form">
        <div class="md-padding" ng-cloak>
            <md-input-container>
                <label>Dashboard Name</label>
                <input required ng-model="name" name="name">
            </md-input-container>

            <label>Share</label>
            <div class="form-group">
                <input type="radio" name="share" value="public" checked> Public<br>
  				<input type="radio" name="share" value="private"> Private<br>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</@layout.myLayout>