<!-- Epic Test Gadget -->
<div class="row">
	<div class="col-md-4">
		<img class="media-object" data-src="holder.js/95x95" alt="95x95"
			src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
			data-holder-rendered="true"
			style="width: 95px; height: 95px; padding-bottom: 10px;">
		<button class="btn btn-default" href="#" id="epic-btn"
			disabled="disabled" onClick="reviewClick()">Add it Now</button>
	</div>
	<div class="col-md-8">
		<h4>
			Grasshopper Epic Test Execution Statistics<br> <small>By
				Dau The Hung</small>
		</h4>
		<p>Widget to display execution status statistics from Epic type
			issue</p>
		<h6>
			<a href="http://www.tmasolutions.com/" target="_blank">http://www.tmasolutions.com/</a>
		</h6>
	</div>
</div>
<hr>
<!-- US Test Gadget -->
<div class="row">
	<div class="col-md-4">
		<img class="media-object" data-src="holder.js/95x95" alt="95x95"
			src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
			data-holder-rendered="true"
			style="width: 95px; height: 95px; padding-bottom: 10px;">
		<button class="btn btn-default" href="#" id="us-btn"
			disabled="disabled" onClick="reviewClick()">Add it Now</button>
	</div>
	<div class="col-md-8">
		<h4>
			Grasshopper User Story Test Execution Statistics<br> <small>By
				Dau The Hung</small>
		</h4>
		<p>Widget to display execution status statistics from User Story
			type issue</p>
		<h6>
			<a href="http://www.tmasolutions.com/" target="_blank">http://www.tmasolutions.com/</a>
		</h6>
	</div>
</div>
<hr>
<!-- Assignee Gadget -->
<div class="row">
	<div class="col-md-4">
		<img class="media-object" data-src="holder.js/95x95" alt="95x95"
			src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
			data-holder-rendered="true"
			style="width: 95px; height: 95px; padding-bottom: 10px;">
		<button class="btn btn-default" href="#" id="review-btn"
			disabled="disabled" onClick="reviewClick()">Add it Now</button>
	</div>
	<div class="col-md-8">
		<h4>
			Grasshopper Assignee Test Execution Statistics<br> <small>By Le Cong Hau</small>
		</h4>
		<p>Widget to display execution status statistics from Assignee</p>
		<h6>
			<a href="http://www.tmasolutions.com/" target="_blank">http://www.tmasolutions.com/</a>
		</h6>
	</div>
</div>
<hr>
<!-- Cycle Gadget -->
<div class="row">
	<div class="col-md-4">
		<img class="media-object" data-src="holder.js/95x95" alt="95x95"
			src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
			data-holder-rendered="true"
			style="width: 95px; height: 95px; padding-bottom: 10px;">
		<button class="btn btn-default" href="#" id="review-btn"
			disabled="disabled" onClick="reviewClick()">Add it Now</button>
	</div>
	<div class="col-md-8">
		<h4>
			Grasshopper Cycle Test Execution Statistics<br> <small>By Dau The Hung</small>
		</h4>
		<p>Widget to display execution status statistics from Cycle step</p>
		<h6>
			<a href="http://www.tmasolutions.com/" target="_blank">http://www.tmasolutions.com/</a>
		</h6>
	</div>
</div>