<div id="epic-test-execution-div" class="col-md-12"
	style="min-height: 20px;">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<h4>Epic Test Execution Report</h4>
			</div>
		</div>
		<div class="panel-body">
			<div class="text-align-right">
				<a id="epic-config-toggle">Show Configuration</a>
			</div>
			<div id="epic-config">
				<form action="/dashboard/${id}/update" method="post"
					class="form-horizontal" role="form">
					<div class="md-padding" ng-cloak>
						<table class="table table-bordered">
							<tbody>
								<!-- Project Row -->
								<tr>
									<td class="col-md-6"><label>Project</label></td>
										<td class="col-md-6"><select class="form-control"
											id="epicProject">
											<option selected disabled>-Select Project-</option>
										</select></td>
								</tr>
								<!-- Release Row -->
								<tr>
									<td class="col-md-6"><label>Release</label></td>
									<td class="col-md-6"><select class="form-control"
										id="epicRelease">
										<option selected disabled>-Select Version-</option>
										<option value="1.2.0">R1.2.0</option>
										<option value="1.2.01">R1.2.01</option>
										<option value="1.3.0">R1.3.0</option>
									</select></td>
								</tr>
								<!-- Product Row -->
								<tr>
									<td class="col-md-6"><label>Product</label></td>
									<td class="col-md-6"><select multiple id="epicProduct" class="form-control">
									<option selected disabled>-Select Product-</option>
									</select></td>
								</tr>
								<!-- Epic Link Row -->
								<tr>
									<td class="col-md-6"><label>Epic Link</label></td>
									<td class="col-md-6"><select multiple class="form-control"
										id="epicMultiSelect">
									</select>
										<div id="epic-link-loader" style="display:none">
											<div class="loader"></div>
										</div>
									</td>

								</tr>
								<!-- Metrics row -->
								<tr>
									<td class="col-md-6"><label>Metrics</label></td>
									<td class="col-md-6">
									<select multiple class="form-control"
										id="epicMetricMultiSelect">
											<option value="UNEXECUTED">UNEXECUTED</option>
											<option value="FAILED">FAILED</option>
											<option value="WIP">WIP</option>
											<option value="BLOCKED">BLOCKED</option>
											<option value="PASSED">PASSED</option>
											<option value="PLANNED">PLANNED</option>
											<option value="UNPLANNED">UNPLANNED</option>
									</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<#if dashboard.owner == alias>
						<button type="button" id="epic-add-gadget" class="btn btn-success">Add Gadget To Database</button>
						<button type="button" id="epic-get-data" class="btn btn-success">Draw Table</button>
					</#if>
				</form>
			</div>
			<br>
			<div id="epic-table-container">
				<table id="epic-table" class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>Title</th>
							<th>UNEXECUTED</th>
							<th>FAILED</th>
							<th>WIP</th>
							<th>BLOCKED</th>
							<th>PASSED</th>
							<th>PLANNED</th>
							<th>UNPLANNED</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Title</th>
							<th>UNEXECUTED</th>
							<th>FAILED</th>
							<th>WIP</th>
							<th>BLOCKED</th>
							<th>PASSED</th>
							<th>PLANNED</th>
							<th>UNPLANNED</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="epic-table-loader" style="display:none" align="center">
				<div class="loader"></div>
				<h2>Data is loading...</h2>
			</div>
		</div>
	</div>
</div>
<div id="us-test-execution-div" class="col-md-12"
	style="min-height: 20px;">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<h4>User Story Test Execution Report</h4>
			</div>
		</div>
		<div class="panel-body">
			<div class="text-align-right">
				<a id="us-config-toggle">Show Configuration</a>
			</div>
			<div id="us-config">
				<form
					class="form-horizontal" role="form">
					<div class="md-padding" ng-cloak>
						<table class="table table-bordered">
							<tbody>
								<!-- US Project Row -->
								<tr>
									<td class="col-md-6"><label>Project</label></td>
										<td class="col-md-6"><select class="form-control"
											id="usProject"> 
											<option selected disabled>-Select Project-</option>
										</select></td>
								</tr>
								<!-- US Release Row -->
								<tr>
									<td class="col-md-6"><label>Release</label></td>
										<td class="col-md-6"><select class="form-control"
											id="usRelease">
											<option selected disabled>-Select Version-</option>
											<option value="1.2.0">R1.2.0</option>
											<option value="1.2.01">R1.2.01</option>
											<option value="1.3.0">R1.3.0</option>
										</select></td>
								</tr>
								<!-- Product Row -->
								<tr>
									<td class="col-md-6"><label>Product</label></td>
									<td class="col-md-6"><select multiple id="usProduct" class="form-control">
									<option selected disabled>-Select Product-</option>
									<option value="ANV">ANV</option>
									<option value="PCC">PCC</option>
									<option value="UTC">UTC</option>
									<option value="557x Infrastructure">557x Infrastructure</option>
									</select></td>
								</tr>
								<!-- US EPIC LINK Row -->
								<tr>
									<td class="col-md-6"><label>Epic Link</label></td>
									<td class="col-md-6">
										<div id="us-epic-loader" style="display: none;">
											<div class="loader"></div>
										</div>
										
										<div id="us-epic-available-div" class="col-md-12">
										<div align="center">
											<div class="col-md-6" align="center">
												<label>Available</label> <select class="form-control"
													multiple id="usEpicAvailable">
												</select>
												
												<button id="us-add-epic-btn" class="btn btn-success">Add</button>
											</div>
											<div class="col-md-6" align="center">
												<label>To be fetched</label> <select class="form-control"
													multiple id="usEpic">
												</select>
												<button id="us-remove-epic-btn" class="btn btn-success">Remove</button>
											</div>
										</div>
									</td>
								</tr>

								<!-- Us story row -->
								<tr>
									<td class="col-md-6"><label>User Story</label></td>
										<td class="col-md-6">
										<select multiple
											class="form-control" id="usMultiSelect">
										</select>
										<div id="us-us-loader" style="display: none">
												<div class="loader"></div>
										</div>
										</td>
										
								</tr>
								<!-- US Metrics row -->
								<tr>
									<td class="col-md-6"><label>Metrics</label></td>
									<td class="col-md-6"><select multiple class="form-control"
										id="usMetricMultiSelect">
											<option value="UNEXECUTED">UNEXECUTED</option>
											<option value="FAILED">FAILED</option>
											<option value="WIP">WIP</option>
											<option value="BLOCKED">BLOCKED</option>
											<option value="PASSED">PASSED</option>
											<option value="PLANNED">PLANNED</option>
											<option value="UNPLANNED">UNPLANNED</option>
									</select></td>
								</tr>
							</tbody>
						</table>
					</div>
					<#if dashboard.owner == alias>
					<button type="button" id="us-update" class="btn btn-success">Update</button>
					</#if>
				</form>
			</div>
			<br>
			<div id="us-table-container">
				<table id="us-table"
					class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>Epic Url</th>
							<th>UNEXECUTED</th>
							<th>FAILED</th>
							<th>WIP</th>
							<th>BLOCKED</th>
							<th>PASSED</th>
							<th>PLANNED</th>
							<th>UNPLANNED</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Epic Url</th>
							<th>UNEXECUTED</th>
							<th>FAILED</th>
							<th>WIP</th>
							<th>BLOCKED</th>
							<th>PASSED</th>
							<th>PLANNED</th>
							<th>UNPLANNED</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="us-table-loader" style="display: none">
				<div class="loader"></div>
			</div>
		</div>
	</div>
</div>
<div id="assignee-test-execution-div" class="col-md-12"
	style="min-height: 20px;">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<h4>Assignee Test Execution Report</h4>
			</div>
		</div>
		<div class="panel-body">
			<div class="text-align-right">
				<a id="assignee-config-toggle">Show Configuration</a>
			</div>
			<div id="assignee-config">
				<form action="/dashboard/${id}/update" method="post"
					class="form-horizontal" role="form">
					<div class="md-padding" ng-cloak>
						<table class="table table-bordered">
							<tbody>
								<!-- Assignee Project Row -->
								<tr>
									<td class="col-md-6"><label>Project</label></td>
									<div class="project-search">
										<td class="col-md-6"><select class="form-control"
											id="assigneeProjectKey"> <#list epicTable?keys as
												project>
												<option>${project}</option> </#list>
										</select></td>
									</div>
								</tr>
								<!-- Assignee Release Row -->
								<tr>
									<td class="col-md-6"><label>Release</label></td>
									<div class="">
										<td class="col-md-6"><select class="form-control"
											id="assigneeReleaseKey"> <#list epicRelease as
												release>
												<option>${release}</option> </#list>
										</select></td>
									</div>
								</tr>
								<!-- Assignee Test Cycle Row -->
								<tr>
									<td class="col-md-6"><label>Test Cycle</label></td>
									<div class="epic-search">
										<td class="col-md-6"><select multiple
											class="form-control" id="assigneeCycleKey"> <#list
												cycleList as cycle>
												<option>${cycle}</option> </#list>
										</select></td>
									</div>
								</tr>

								<!-- Assignee story row -->
								<tr>
									<td class="col-md-6"><label>Assignee</label></td>
									<div class="story-search">
										<td class="col-md-6"><select multiple
											class="form-control" id="usMultiSelect"> <#list
												assigneeList as assignee>
												<option>${assignee}</option> </#list>
										</select></td>
									</div>
								</tr>
								<!-- Assignee Metrics row -->
								<tr>
									<td class="col-md-6"><label>Metrics</label></td>
									<div class="">
										<td class="col-md-6"><select multiple
											class="form-control" id="epicMetricMultiSelect">
												<#list epicTestMetric as metric>
												<option>${metric}</option> </#list>
										</select></td>
									</div>
								</tr>
							</tbody>
						</table>
					</div>
					<#if dashboard.owner == alias>
					<button type="submit" class="btn btn-success">Update</button>
					</#if>
				</form>
			</div>
			<br>
			<!-- Assignee Table -->
			<#list cycleTable?keys as k> <label><b><a>${k}</a></b></label>
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Assignee</th> <#list cycleMetricList as metric>
						<th><b>${metric}</b></th> </#list>
					</tr>
				</thead>
				<tbody>
					<#list cycleTable[k]?keys as k1>
					<tr>
						<td>${k1}</td> <#list cycleTable[k][k1]?keys as k2>
						<td>${cycleTable[k][k1][k2]}</td> </#list>
					</tr>
					</#list>
				</tbody>
			</table>
			</#list>
		</div>
	</div>
</div>
<div id="cycle-test-execution-div" class="col-md-12"
	style="min-height: 20px;">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<h4>Cycle Test Execution Report</h4>
			</div>
		</div>
		<div class="panel-body">
			<div class="text-align-right">
				<a id="cycle-config-toggle">Show Configuration</a>
			</div>
			<div id="cycle-config">
				<form action="/dashboard/${id}/update" method="post"
					class="form-horizontal" role="form">
					<div class="md-padding" ng-cloak>
						<table class="table table-bordered">
							<tbody>
								<!-- Cycle Project Row -->
								<tr>
									<td class="col-md-6"><label>Project</label></td>
									<div class="project-search">
										<td class="col-md-6"><select class="form-control"
											id="assigneeProjectKey"> <#list epicTable?keys as
												project>
												<option>${project}</option> </#list>
										</select></td>
									</div>
								</tr>
								<!-- Cycle Release Row -->
								<tr>
									<td class="col-md-6"><label>Release</label></td>
									<div class="">
										<td class="col-md-6"><select class="form-control"
											id="epicReleaseKey"> <#list epicRelease as release>
												<option>${release}</option> </#list>
										</select></td>
									</div>
								</tr>

								<!-- Cycle Multiple Select -->
								<tr>
									<td class="col-md-6"><label>Cycle</label></td>
									<div class="cycle-list">
										<td class="col-md-6"><select multiple
											class="form-control" id="cycleMultiSelect"> <#list
												cycleList as cycle>
												<option>${cycle}</option> </#list>
										</select></td>
									</div>
								</tr>
								<!-- Cycle Metrics row -->
								<tr>
									<td class="col-md-6"><label>Metrics</label></td>
									<div class="">
										<td class="col-md-6"><select multiple
											class="form-control" id="epicMetricMultiSelect">
												<#list cycleMetricList as metric>
												<option>${metric}</option> </#list>
										</select></td>
									</div>
								</tr>
							</tbody>
						</table>
					</div>
					<#if dashboard.owner == alias>
					<button type="submit" class="btn btn-success">Update</button>
					</#if>
				</form>
			</div>
			<br> <#list cycleTable?keys as k> <label><b><a>${k}</a></b></label>
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Cycle</th> <#list cycleMetricList as metric>
						<td><b>${metric}</b></td> </#list>
					</tr>
				</thead>
				<tbody>
					<#list cycleTable[k]?keys as k1>
					<tr>
						<td>${k1}</td> <#list cycleTable[k][k1]?keys as k2>
						<td>${cycleTable[k][k1][k2]}</td> </#list>
					</tr>
					</#list>
				</tbody>
			</table>
			<#break> </#list>


		</div>
	</div>
</div>