<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Dashboard | Update">

<#if !dashboard.id??>
<h3>Dashboard ${id} is not exist!</h3>
<#elseif dashboard.owner != alias>
<h3>User '${alias}' cannot update dashboard of '${dashboard.owner}'!</h3>
<#else>
    <form action="/dashboard/${id}/update" method="post" class="form-horizontal" role="form">
        <div class="md-padding" ng-cloak>
            <md-input-container>
                <label>Dashboard Name</label>
                <input required value="${dashboard.name}" name="name">
            </md-input-container>

            <label>Share</label>
            <div class="form-group">
                <input type="radio" name="share" value="public" <#if dashboard.share=="public">checked</#if>> Public<br>
  				<input type="radio" name="share" value="private" <#if dashboard.share=="private">checked</#if>> Private<br>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</#if>
</@layout.myLayout>